using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

// General Information about an assembly is controlled through the following 
// set of attributes. Change these attribute values to modify the information
// associated with an assembly.
[assembly: AssemblyTitle("Hugin.POS.Printer.GUI")]
[assembly: AssemblyDescription("Hugin Point of Sale Application")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("Hugin")]
[assembly: AssemblyProduct("Hugin POS")]
[assembly: AssemblyCopyright("Copyright © Hugin 2007")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]

// Setting ComVisible to false makes the types in this assembly not visible 
// to COM components.  If you need to access a type in this assembly from 
// COM, set the ComVisible attribute to true on that type.
[assembly: ComVisible(false)]

// The following GUID is for the ID of the typelib if this project is exposed to COM
[assembly: Guid("38bbebfd-5136-463e-8e87-a0464129e263")]

// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("2.0.0.7395")]
#if(!WindowsCE)
[assembly: AssemblyFileVersion("2.0.0.7395")]
#endif