<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="" type="">
            <section name="" type="" requirePermission=""/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PromotionServer.Properties.Settings>
            <setting name="" serializeAs="">
                <value></value>
            </setting>
        </PromotionServer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
