<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataCodePage" value="1254"/>
    <add key="ListAutoSelect" value="ListLabel:1000;ListCurrencies:3000" />
    <add key="DoublePressInterval" value="1" />
    <add key="CashierAlertTimeout" value="5" />
    <add key="InactivityTimeout" value="3000" />
    <add key="ServicePassword" value="200200" />
    <add key="Vga" value="Customer"/>
    <add key="OfficeNo" value="123"/>
    <add key="OfficePath" value="C:/POSGENELData/"/>
    <add key="RegisterId" value="123"/>
    <add key="FiscalId" value="FP12345678"/>
    <add key="Logger" value="0"/>
    <add key="PromotionClientTimeout" value="2000"/>
    <add key="Service" value="ON"/>
    <add key="ScreenIdentity" value="1"/>
    <add key="EDocumentAutoFill" value="1"/>

    <!--
    1- Datecs
    2- 5200
    3- S60D Keyboard
    -->  
    <add key="IntegrationMode" value="1"/>
    
    <add key="PrinterAddress" value="192.168.0.77:4444"/>
    <add key="PrinterGUIActive" value="1"/>

    <add key="DefaultManagerID" value="9"/>
    <add key="DefaultManagerPWD" value="14710"/>

    <add key="SCLoggerLevel" value="6"/>
    <add key="SCLogDirectory" value="C:\Logger"/>
      
    <!--    
    * SlipComPort 5200 -> 19200, epson default
    <add key="SlipComPort" value="COM6"/> 
    
    <add key="OnlineUpdateUri" value="http://localhost:12345/"/>
    <add key="PointServerUri" value="" />
    <add key="PrinterComPort" value="COM6"/>  
    <add key="DisplayComPort" value="COM7"/>  
    <add key="VxOrderPath" value=""/>
    <add key="VxLogin" value=""/>  
    <add key="ScaleComPort" value="COM1"/>
    <add key="TcpIp" value="127.0.0.1"/>
    <add key="TcpPort" value="1555"/>
    <add key="OrderPrinterAddress" value="192.168.0.66,1234" />   
    <add key="LocalPath" value="C:\Posgenel\Arşiv\"/>
    <add key="BarcodeComPort" value="COM10"/>
    <add key="BarcodeTerminator" value="," />
    -->
  </appSettings>
</configuration>